/* ---------------------------------------------------------
   Scene
--------------------------------------------------------- */
#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  text-align: center;
  background-image: url("../spilleside-img/lys-baggrund.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ---------------------------------------------------------
   Søstjerne
--------------------------------------------------------- */
.starfish {
  position: absolute;
  bottom: 3.3vw; /* stå fast på havbunden */
  left: 28vw; /* justér, så den ligger lige under havfruens hale */
  width: 8vw;
  z-index: 3;
  cursor: pointer;
}

/* ---------------------------------------------------------
   Spilleside knap
--------------------------------------------------------- */
.hjemBtn {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  width: 10vw;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  z-index: 10;
}
.hjemBtn img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(219, 165, 165, 0.25);
}
